server {
    listen 80;
    server_name 147.93.120.99;

    location / {
        include proxy_params;
        proxy_pass http://unix:/var/www/AdsProject/ads_project.sock;
    }

    location /static {
        alias /var/www/AdsProject/static;
    }
}