[Unit]
Description=Gunicorn instance to serve AdsProject
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/AdsProject
Environment="PATH=/var/www/AdsProject/venv/bin"
ExecStart=/var/www/AdsProject/venv/bin/gunicorn --workers 3 --bind unix:ads_project.sock -m 007 app:app

[Install]
WantedBy=multi-user.target